body {
  background-color: #FF86FF;
  text-align:center;  
  height: 100%; 
  margin: 0px;
}
#sandia{  
  margin: 30px auto;
  position: relative;
  height: 600px;
  width: 600px;
}
#sandia div{
	position:absolute;
}
#sandia div::before, #sandia div::after {
  content:'';
  position:absolute;
  display:block;
}
.circle {
  width: 550px;
  height: 550px;
  background-color: #74FEF8;
  border-radius:100%;
  top: 70px;
  left: 10px;
  box-shadow: 10px 10px 10px #888888;
}
.stick {
  width: 30px;
  height: 160px;
  background-color: #fdbd70 ;
  border-radius: 20px;
  top: 360px;
  left: 280px;
  box-shadow: 6px 3px 10px #888888;
}
.green {
  position: absolute;
  top: 35%;
  left:8%;
  transform: translate(-50%,-50%) translateY(30px);
  width: 320px;
  height: 160px;
  background: #ff395d;
  border-left: 20px solid #92e256;
  border-right: 20px solid #92e256;
  border-bottom: 20px solid #92e256;
  border-bottom-left-radius:  200px;
  border-bottom-right-radius:  200px;
  transform: rotate(48deg);
  box-shadow: 3px 1px 4px #888888;
}
.green::before {
  content: '';
  position: absolute;
  top: -17px;
  left: -20px;
  width: calc(50% + 28px);
  height: calc(110% + 30px);
  background: rgba(116,254,248,1);
}
 .seed {
  top: 50%;
  left: 50%;
  border: 5px solid black;
  background: black;
  width: 6px;
  height: 6px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: -38px 1px 0 -4px black, 46px 20px 0 -4px black;
}
.seed::before {
  transform: rotate(180deg);
  top: 790%;
  left: -700%;
  border: 5px solid black;
  background: black;
  width: 6px;
  height: 6px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: -38px 1px 0 -4px black, 46px 20px 0 -4px black;
}
 .seed::after {
  transform: rotate(-20deg);
  top: 800%;
  left: 700%;
  border: 5px solid black;
  background: black;
  width: 6px;
  height: 6px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: -38px 1px 0 -4px black;